<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Edit' : 'Add' }} Product Demand</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="dismiss()" name="close"  ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.dark-mode]="isDarkMode">
  <form [formGroup]="productDemandForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Product ID</ion-label>
        <ion-input formControlName="productId"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input formControlName="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Price</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Weight (kg)</ion-label>
        <ion-input type="number" formControlName="weight"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Status</ion-label>
        <ion-select  interface="popover" placeholder="Select Status" formControlName="status">
          <ion-select-option value="Available">Available</ion-select-option>
          <ion-select-option value="Out of Stock">Out of Stock</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="saveProductDemand()">
      {{ isEdit ? 'Save' : 'Add' }} Product Demand
    </ion-button>
  </form>

  

</ion-content>
