.settings-content {
    padding: 16px;
  }
  
  /* Light Mode Styles */
  ion-card {
    margin: 8px 0;
    --background: var(--ion-color-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  ion-card-header {
    border-bottom: 1px solid var(--ion-color-light-tint);
  }
  
  ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --inner-padding-end: 8px;
    margin: 8px 0;
  }
  
  ion-input,
  ion-select {
    margin-top: 8px;
  }
  
  
  .profile-picture-container {
    display: flex;
    align-items: center;


    ion-button{
        margin: 0;
    }
    // margin-bottom: 20px;
  }
  
  .profile-picture {
    display: flex;
    justify-content: center;
    width: 60px;
    height:60px;
    margin-right: 20px;
  }
  
  ion-button {
    // margin-top: 16px;
    --background: var(--ion-color-primary);
    --color: white;
  }
  
  /* Dark Mode Styles */
  .dark-mode {
    ion-card {
      --background: #2c2c2c; /* Darker background for cards */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Darker shadow */
    }
  
    ion-card-header {
      border-bottom: 1px solid #444; /* Darker border */
    }
  
    ion-card-title {
      color: #f1f1f1; /* Lighter text color */
    }
  
    ion-item {
      --background: #3c3c3c; /* Dark background for items */
      --color: #f1f1f1; /* Lighter text color */
      margin: 8px 0;
    }
  
    ion-input,
    ion-select {
      --background: #3c3c3c; /* Darker input background */
      --color: #f1f1f1; /* Lighter text color */
      margin-top: 8px;
    }
  
    ion-avatar {
      border: 2px solid #444; /* Border to make avatar stand out */
    }
  
    ion-button {
      --background: var(--ion-color-primary);
      --color: white;
    }
  }
  