<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Edit' : 'Add' }} Query</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="dismiss()" name="close"  ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.dark-mode]="isDarkMode">
  <form [formGroup]="addQueryForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Farmer Name</ion-label>
      <ion-select placeholder="Select Farmer Name" interface="popover" formControlName="farmerName"  >
        <ion-select-option *ngFor="let farmer of farmersList" [value]="farmer">{{ farmer }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Farmer Mobile Number</ion-label>
      <ion-input type="tel" formControlName="farmerMobileNo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Query</ion-label>
      <ion-textarea formControlName="query"></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!addQueryForm.valid">{{ isEdit ? 'Save Changes' : 'Submit' }}</ion-button>
  
  </form>
</ion-content>
