<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Edit' : 'Add' }} User</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="dismiss()" name="close"  ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.dark-mode]="isDarkMode">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">User Name</ion-label>
      <ion-input formControlName="userName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email ID</ion-label>
      <ion-input formControlName="emailId" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">User ID</ion-label>
      <ion-input formControlName="userId" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mobile Number</ion-label>
      <ion-input formControlName="mobile" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Role</ion-label>
      <ion-select placeholder="Select Role" interface="popover" formControlName="role">
        <ion-select-option *ngFor="let role of roles" [value]="role">{{ role }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-select placeholder="Select Status" interface="popover" formControlName="status">
        <ion-select-option value="Active">Active</ion-select-option>
        <ion-select-option value="Inactive">Inactive</ion-select-option>
      </ion-select>
    </ion-item>
    

    <ion-button expand="block" (click)="save()" [disabled]="form.invalid">{{ isEdit ? 'Save Changes' : 'Submit' }}</ion-button>
  </form>
</ion-content>