<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Edit' : 'Add' }} Shift</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="dismiss()" name="close"  ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.dark-mode]="isDarkMode">
  <form [formGroup]="addShiftForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Shift</ion-label>
      <ion-select placeholder="Select Shift" interface="popover" formControlName="name">
        <ion-select-option value="Morning Shift">Morning</ion-select-option>
        <ion-select-option value="Evening Shift">Evening</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-select placeholder="Select Status" interface="popover" formControlName="status">
        <ion-select-option value="Active ">Active</ion-select-option>
        <ion-select-option value="Inactive ">Inactive</ion-select-option>
      </ion-select>
    </ion-item>
    
  <ion-button expand="full" type="submit" [disabled]="addShiftForm.invalid">{{ isEdit ? 'Save Changes' : 'Submit' }}</ion-button>
    
  </form>
</ion-content>
